<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Tasks</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>All Current Tasks</h1>

    </div>

    <div class="jumbotron">
        <p><a href="http://localhost:8080/">Home page</a></p>
        <p><a href="http://localhost:8080/new">Create new task</a></p>
    </div>

    <div class="jumbotron">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Task Name</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Task Description</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < db.length; i++) {%>
                <tr>
                    <td><%= db[i].name %></td>
                    <td><%= db[i].date %></td>
                    <td><%= db[i].desc %></td>
                </tr>
                <% }%>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">



</script>
</body>
</html>